body {
    overflow:hidden;
}

canvas {
    background:black;
    position:fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.bodyText {
    /* position:absolute; */
    display: flex;
    z-index:0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    color: hsla(0, 0%, 100%, 1);
    font-family: 'Source Code Pro', monospace;

    opacity: 1;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

/* .links {
    column-count: 2;
    column-fill: balance;
} */

.links a {
    margin: 0;
    color: hsla(116, 58%, 60%, 1);
}

.dg .c .slider-fg {
    background: hsla(116, 58%, 60%, 1);
}

.dg .cr.number input[type=text] {
    color: rgb(255, 255, 255) !important;
}

.dg .cr.number {
    border-left: 3px solid rgb(255, 255, 255) !important;
}

.dg.main .close-button {
    display: none;
}

.dg {
    opacity: 1;
    /* text-align: center; */
    -webkit-transition: all 4s ease-in-out;
    -moz-transition: all 4s ease-in-out;
    -ms-transition: all 4s ease-in-out;
    -o-transition: all 4s ease-in-out;
    transition: all 4s ease-in-out;
}

.fa-brands {
    color: hsla(116, 58%, 60%, 1);
}

.fa-brands:hover {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    color: white;
}