body {
    overflow:hidden;
}

canvas {
    background:black;
    position:fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.bodyText {
    /* position:absolute; */
    display: flex;
    z-index:0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    color: hsla(0, 0%, 100%, 0.7);
    font-family: 'Source Code Pro', monospace;

    opacity: 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.links {
    column-count: 2;
    column-fill: balance;
}

.links a {
    margin: 0;
    color: hsla(116, 58%, 60%, .7);
}